<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiUrl</key>
	<string>https://api.streamonecloud.net/</string>
	<key>useApplicationAuth</key>
	<false/>
	<key>applicationId</key>
	<string>APPLICATION</string>
	<key>applicationPSK</key>
	<string>PSK</string>
	<key>userId</key>
	<string>USER</string>
	<key>userPSK</key>
	<string>PSK</string>
	<key>account</key>
    <string>ACCOUNT</string>
    <key>livestreams</key>
    <array>
        <string>streamID1</string>
        <string>streamID2</string>
        <string>streamID3</string>
    </array>
    <key>gemiststreams</key>
    <array>
        <string>streamID1</string>
    </array>
</dict>
</plist>
