[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/Argo"]
	path = Carthage/Checkouts/Argo
	url = https://github.com/thoughtbot/Argo.git
[submodule "Carthage/Checkouts/Crypto"]
	path = Carthage/Checkouts/Crypto
	url = https://github.com/Soffes/Crypto.git
[submodule "Carthage/Checkouts/Curry"]
	path = Carthage/Checkouts/Curry
	url = https://github.com/thoughtbot/Curry.git
[submodule "Carthage/Checkouts/iOS-SDK"]
	path = Carthage/Checkouts/iOS-SDK
	url = https://github.com/StreamOneNL/iOS-SDK.git
[submodule "Carthage/Checkouts/JFCommon"]
	path = Carthage/Checkouts/JFCommon
	url = https://github.com/nickygerritsen/JFCommon.git
[submodule "Carthage/Checkouts/AlamofireImage"]
	path = Carthage/Checkouts/AlamofireImage
	url = https://github.com/Alamofire/AlamofireImage.git
